@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
